* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
@import url("https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900&display=swap");

body
{
 text-align:center;
 width:100%;
 font-family: 'Lato', sans-serif !important;
 font-style: normal !important;
 font-weight: 400 !important;
 overflow-x: hidden !important;

 background: url(https://images.wallpaperscraft.com/image/branch_plant_blur_115525_3840x2400.jpg) no-repeat center center fixed;
 -webkit-background-size: cover;
 -moz-background-size: cover;
 -o-background-size: cover;
 background-size: cover;
}

.header
{
 width:100%;
 margin:0px auto;
 padding:0px;
 text-align:center;
 height:100px;
 line-height:70px;
}
/*---------------------------------------------*/
#navbar ul {
 list-style-type: none;
 margin: 1px;
 padding: 1px;
 overflow: hidden;
 background-color: #4863A0;
    position: fixed;
    top: 0;
    width: 100%;
}

#navbar li {
 float: left;
 border-right: 2px solid white;
}

/* Add a border to all( but not the last) list items */
#navbar li:last-child {
 border-right: none;
}

#navbar li a {
 display: block;
 color: white;
 text-align: left;
 padding: 10px 12px;
 text-decoration: none;
}

@media (min-width:401px) and (max-width:960px){
#navbar li a {
 padding: 4px 6px;
}
}

/* Links will change color when hovered over */
#navbar li a:hover {
 background-color: #7300ff;
}

#navbar .active {
 background-color: #d61d1d;
}

h1, h2, h3, h4, h5, h6 {
   line-height: 1.7 !important;
	margin: 0px;
	text-align: center;
	font-family: 'Lato', sans-serif !important;
    font-style: bold !important;
    font-weight: 700 !important;
    color: #15317E !important;
}

p {
	font-size: 16px;
	line-height: 1.7;
	margin: 0px;
	font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 400;
}

ul, li {
	margin: 0px;
	font-size: 16px;
	line-height: 1.7;
	list-style-type: none;
	font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 400;
}


table table-hover {
width:70%;
margin-left:15%;
margin-right:15%;
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
th, td {
  padding: 15px;
  text-align: center;
}
table#t01 tr:nth-child(even) {
  background-color: #eee;
}
table#t01 tr:nth-child(odd) {
 background-color: #fff;
}
table#t01 th {
  background-color: black;
  color: white;
}
/*---------------------------------------------*/
.grid-container {
  display: grid;
  grid-template-columns: auto;
  grid-gap: 5px 10px;
  padding: 10px;
}


.grid-container > div {
  text-align: center;
  padding: 40px 0;
  font-size: 16px;
}

#wrapper {
    margin-right: auto;
    margin-left:  auto;
	width: 980px;
	background: #fff;
	margin: 1 auto;
	padding-right: 10px;
    padding-left:  10px;
}
@media (min-width:401px) and (max-width:960px){
#wrapper {
	width: 480px;
}
}

article {
  -webkit-columns: 3 250px;
     -moz-columns: 3 250px;
          columns: 3 250px;
           -moz-column-fill: auto;
       column-fill: auto;
  -webkit-column-gap: 3em;
     -moz-column-gap: 3em;
          column-gap: 3em;
  -webkit-column-rule: 1px dotted #ddd;
     -moz-column-rule: 1px dotted #ddd;
          column-rule: 1px dotted #ddd;
}
}
#basic{
    width: 960px;
	float: center;
}

#education {
    width: 960px;
	float: center;
}

#work {
    width: 960px;
	float: center;
}

#programming{
    width: 960px;
	float: center;
}

#general{
    width: 960px;
	float: center;
}
#favorite{
    width: 960px;
	float: center;
}
#online{
    width: 960px;
	float: center;
}
#projects{
    width: 960px;
	float: center;
}
@media (min-width:401px) and (max-width:960px){

#basic{
    width: 460px;
}

#education {
    width: 460px;
}

#work {
    width: 460px;
}

#programming{
    width: 460px;
}

#general{
    width: 460px;
}
#favorite{
    width: 460px;
}
#online{
    width: 460px;
}
#projects{
    width: 460px;
}
}
div.d {
  line-height: 200%;
}
iframe {
	border: none !important;
}

button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #fff;
    color: #a43f49;
    font-size: 12px;
    font-weight: 800;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    transition: all 0.5s;
    border: none;
    outline: none;
    cursor: pointer;
}

button:hover {
    outline: none;
    background-color: #a43f49;
    color: #fff;
}

#contact {
  width: 100%;
  background-color: #fff;
  border-radius: 0px;
  margin-bottom: 50px;
  position: relative;
  z-index: 0;
  text-align: center;
}


#contact input {
    background-color: rgba(253, 238, 244, 0.8);
    border: 1px solid rgba(253,238,244,0.8);
    border-radius: 30px;
    margin-bottom: 30px;
    color: #0C090A;
    font-size: 14px;
    height: 40px;
    line-height: 40px;
    width: 100%;
    padding-left: 15px;
}
#contact input:focus {
    outline: none;
    box-shadow: none;
    border: transparent;
}

#contact textarea {
    background-color: rgba(253, 238, 244, 0.8);
    border: 1px solid rgba(253, 238, 244, 0.8);
    border-radius: 30px;
    margin-bottom: 30px;
    color: #0C090A;
    font-size: 14px;
    height: 180px;
    max-height: 220px;
    line-height: 40px;
    width: 100%;
    padding-left: 15px;
}

#contact textarea:focus {
    outline: none;
    box-shadow: none;
}

